.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.InProgress, .Finish {
  background-color: #e9ecef;
  text-align: left;
}

#OrderList {
  width: 650px;
}

#order {
  width: 100%;
  height: 100%;
}

.list-group-item {
  /*padding: 1px 2px;*/
}

.Logo {
  width: 15%;
}

.Right {
  width: 30px;
}

.grey {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.greenBar {
  fill: #4D8B09;
  stroke: #4D8B09;
}

table {
  border-color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

td.orderInProgress, td.orderFinished, td.orderName {
  text-align: left;
}

td.orderInProgress {
  color: green;
}

td.deliveryDate {
  font-weight: 600;
}
